/* Make it a marquee */
.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;

}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 105s linear infinite;

}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}





.ticker-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
 background-color:#253138;
 padding:5px;
}


